/*
*
* Header
*
*/

.head {
	background-color: #021f40;
}

.title {
	font-size: 2em !important;
	color: #fff !important;
	margin-left: 5%;
	
}

.login {
	margin-right: 50px;
}

/*
*
* Contents
*
*/

a:hover {
	text-decoration: none !important;
}

.capitalize {
	text-transform: capitalize;
}

.oblique {
    font-style: oblique;
	color: #b1b5b9;
}
#active {
	color: red;
	background-color: #daed3e;
}

.panel {

    background: #ffffff;
    border-radius: 20px;
    height: auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.text-color {
	color: #ec6f5e;
}

h2 {
	color: #091b43!important;
}

.margin-top {
	margin-top: 99px;
}
