{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row margin-top">
	<div class="col-md-1"></div>
	
	<div class="col-md-6 panel">
		<h2 class="alert-color">ATTENTION!!</h2>
		<h4> Are you sure you want to delete <span class="text-color">{{category.name}}</span>
			, including all the items listing under this category? </h4>
		<br>
		<form action="#" method = 'post'>
			<button type="submit" class="btn btn-primary btn-lg" id="submit" type="submit">Delete</button>
		</form>
		<br>
		<a href="{{url_for('showList', category_id=category_id)}}">
			<button class="btn btn-primary btn-lg">Cancel</button>
		</a>
		<br><br>
	</div>
</div>

{% endblock %}