{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row margin-top">
		<div class="col-md-1"></div>
		<div class="col-md-6 panel">
			<h2> Are you sure you want to delete <span class="text-color">{{item.name}}</span>? </h2>
			<br>
			<form action="#" method = 'post'>
				<button type="submit" class="btn btn-primary btn-lg" id="submit">Delete</button>
			</form>
			<br>		
			<a href = "{{url_for('showList', category_id=category_id)}}">
				<button class="btn btn-primary btn-lg">Cancel</button>
			</a>
			<br><br>
		</div>
	</div>
{% endblock %}
