{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row margin-top">
		<div class="col-md-1"></div>
		<div class="col-md-6 panel">
			<h2>Edit Item</h2>
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Title:</label>
					<input type ="text" maxlength="50" class="form-control" name="name" value="{{item.name }}">
					<br>
					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="360" rows="3" name="description" >
						{{item.description}}
					</textarea>
					<br>
					<div>
						<select name="category">
							{% for category in categories %}
								
								<option value={{category.name}} {% if category.id == category_id %}selected{%endif%}>
									{{category.name}}		
								</option>
								
							{% endfor %}
						</select>
					</div>
					<br>
					<button type="submit" class="btn btn-primary btn-lg" id="submit">Save</button>
					
				</div>
			</form>
			<a href="{{url_for('showList', category_id=category_id)}}">
				<button class="btn btn-primary btn-lg">Cancel</button>
			</a>
			<br><br>
		</div>
	</div>
		
{% endblock %}