{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row banner margin-top margin-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-6 panel">
			<h2>{{item.name}}
			<figure class="creator">
				<img src="{{creator.picture}}">
				<figcaption>{{creator.name}}</figcaption>
			</figure>
			</h2>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-1"></div>
		
		<div class="col-md-6 panel margin-bottom">			
			<p><strong>Description: </strong>{{item.description}}</p>
		</div>
	</div>
		
{% endblock %}