{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class = 'flash margin-top'>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
		{% endwith %}
	</div>
	
	<div class="row banner margin-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 panel">
			<h2>{{category.name}}
			<figure class="creator">
				<img src="{{creator.picture}}">
				<figcaption>{{creator.name}}</figcaption>
			</figure>
			</h2>
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		
		<div class="col-sm-3 panel margin-bottom">
			<a href="{{url_for('newCategory')}}">
				<button class="btn btn-primary btn-lg">Add Category</button>
			</a>
			<h2>Categories</h2>
			{% for category in categories %}
				<a class="capitalize text-color" href = "{{url_for('showList', category_id=category.id)}}">
					<h4 class="border-bottom" {% if category.id == category_id %}id="active"{% endif %}>{{category.name}}</h4>		
				</a>
			{% endfor %}
			<a href="{{url_for('editCategory', category_id = category_id)}}">
				<button class="btn btn-primary btn-lg">Edit Category</button>
			</a>
			<a href="{{url_for('deleteCategory', category_id = category_id)}}">
				<button class="btn btn-primary btn-lg">Delete Category</button>
			</a>
			<br><br>
		</div>		
				
		<div class="col-sm-7 panel margin-bottom">
			<a href="{{url_for('newListItem', category_id=category_id)}}">
				<button class="btn btn-primary btn-lg">Add Item</button>
			</a>
			<h2>Latest Items</h2>
			{% for item in items %}
				<a class="capitalize text-color" href = "{{url_for('showListItem', category_id=item.category_id, item_id=item.id)}}">
					<h4 class="border-bottom">{{item.name}} (<span class="oblique">{{item.category.name}}</span>)</h4>		
				</a>
			{% endfor %}
		</div>
		
		<div class="col-md-1"></div>
	</div>
		
{% endblock %}
